<p-menubar [model]="menuItems" [baseZIndex]="1001">
  <ng-template pTemplate="start">
    <a [routerLink]="'/home'" class="d-flex align-items-center">
      <img src="assets/favicon.ico" alt="logo" height="40" class="me-2">
      <h1 class="m-0">ChessMate</h1>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <p-button icon="bi bi-search" [text]="true" [rounded]="true"
      (click)="toggleSearchInputVisibility()">
    </p-button>
    <input #searchInput 
      pInputText 
      class="search-input" 
      placeholder="Search"  
      [ngClass]="{'minimized': !searchInputVisible}"
      (focusout)="toggleSearchInputVisibility()">
      
    <p-button icon="bi bi-gear" [text]="true" [rounded]="true"></p-button>
    <p-button label="SIGN IN"></p-button>
  </ng-template>
</p-menubar>

<app-create-game-dialog [(visible)]="createGameDialogVisible"></app-create-game-dialog>
