<app-game-result-dialog [(visible)]="gameResultDialogVisible" [result]="gameResult"></app-game-result-dialog>

<div class="row">
  <div class="col-12 col-md-8">
    <app-chessboard #chessboardRef 
      [orientation]="boardOrientation"
      (moveChange)="sendMove($event)">
    </app-chessboard>
  </div>
  <div class="col-12 col-md-4">
    <div class="d-flex flex-column gap-2">
      <p-card>
        <h4>Game Info</h4>
        <p>
          White Player: {{game?.whitePlayerUsername}} - <span>{{game?.whitePlayerElo}}</span>
  
          @if (game?.whitePlayerUsername === 'Anonymous' && isCurrentPlayer(game?.whitePlayerId)) {
            <span> (You)</span>
          }
        </p>
        <p>
          Black Player: {{game?.blackPlayerUsername}} - <span>{{game?.whitePlayerElo}}</span>
  
          @if (game?.blackPlayerUsername === 'Anonymous' && isCurrentPlayer(game?.blackPlayerId)) {
            <span> (You)</span>
          }
        </p>
        <p>White Player ID: {{game?.whitePlayerId}}</p>
        <p>Black Player ID: {{game?.blackPlayerId}}</p>
        <p>Turn: {{currentTurn}}</p>
        <p>Game Status: {{game?.status}}</p>
  
        <div class="d-flex gap-1">
          <!-- <p-button label="Cancel" (click)="cancelGame()" [disabled]="isLoading"></p-button> -->
          <p-button label="Resign" (click)="resignGame()" [disabled]="isLoading"></p-button>
          <p-button label="Offer Draw" (click)="offerDraw()" [disabled]="isLoading"></p-button>
        </div>
      </p-card>

      <p-card>
        <h4>PGN</h4>
        <textarea class="form-control" rows="10" readonly>{{pgn}}</textarea>
      </p-card>
    </div>
  </div>
</div>
